.message .attachment {
	max-width: 360px;
	max-height: 360px;
	margin-top: 10px;
}

.file-box {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-top: 10px;
	width: 400px;
	height: 85px;
	background-color: #292b2f;
	border-radius: 10px;
}

.file-box .file-name {
	color: #d6d7ca;
	margin-left: 10px;
}

.file-box .file-size {
	color: #d6d7ca;
	margin-left: 10px;

	font-size: 13px;
	font-style: italic;
}

.file-box img {
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.file-box img:hover {
	cursor: pointer;
}
