.message-list {
	position: absolute;
	left: 290px;
	right: 0;
	bottom: 70px;

	height: calc(100vh - 100px);

	padding: 10px 25px 25px 25px;
	padding-bottom: 70px;
	margin-bottom: 10px;

	overflow-y: visible;
}

.date-line {
	background: rgb(87, 87, 87);

	position: relative;
	display: flex;
	height: 1px;
	width: 100%;

	margin-top: 20px;
	margin-bottom: 20px;

	align-items: center;
	justify-content: center;
}

.date-line .date {
	background: #36393f;
	position: relative;
	color: #a3a692;

	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;

	padding: 0px 10px;
}

.message {
	color: white;

	position: relative;

	display: flex;
	align-items: flex-start;

	margin-top: 20px;
	margin-bottom: 10px;
}

.message .header {
	position: relative;

	display: flex;
	flex-direction: column;

	margin-left: 10px;
}

.message .header .user {
	display: flex;
	background: #36393f;
	padding: 0;
	margin: 0;

	font-size: 15px;
}

.message .header .send-time {
	font-size: 13px;
	color: #a3a692;
	padding: 0 8px;
	margin: 0;
}

.message .text {
	display: block;
	color: #d6d7ca;
	font-size: 16px;
	margin-top: 5px;
}
