.user {
	background: #292b2f; /* temp */
	grid-column: 1; /* temp */

	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows: 1fr;
	margin: 0 0 0 0;
	padding: 5px;

	align-items: center;
	color: white;
	font-size: 18px;
}

.user img {
	grid-column: 1;

	width: 40px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.user .name {
	grid-column: 2;

	font-weight: bold;
	justify-self: left;
}

.user .icons {
	grid-column: 3;

	display: flex;
	justify-self: end;
}

.user .icons img {
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
}
