.message-input {
	/* background-color: pink; */

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.message-input img {
	height: 35px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.message-input .attachment-list {
	background-color: #292b2f;
	display: flex;
	position: fixed;
	min-width: 220px;
	max-width: 220px;
	height: 60px;
	bottom: 70px;
	margin-left: 10px;

	border-radius: 10px;

	align-content: center;
	align-items: center;
	justify-content: center;
}

.message-input .text {
	/* background-color: orange; */
	width: 100%;
	vertical-align: middle;
}

.message-input textarea {
	background: #292b2f;

	width: 100%;

	overflow-y: hidden;
	resize: none;

	box-sizing: border-box;
	outline: transparent 5px solid;
	padding: 9px;
	border-radius: 10px;
	border: none;

	font-size: 19px;
	align-content: center;

	caret-color: rgb(187, 185, 190);
	color: rgb(220, 220, 220);

	cursor: text;
}
