body {
	margin: 0;
}

#root {
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns:
		minmax(280px, 1fr)
		minmax(600px, 10fr)
		minmax(300px, 2fr);
	grid-template-rows:
		minmax(100px, 1fr)
		10fr
		60px;

	height: 100vh;
	overflow: hidden;
}

/* Components */
.service {
	grid-column: 1;
	grid-row: 1;
	background: burlywood;
}

.title {
	grid-column: 2;
	grid-row: 1;
	background: skyblue;

	font-size: 22px;
}

.channel-list {
	grid-column: 1;
	grid-row: 2;
	background: #2f3136;
	color: #96989d;
	align-items: center;

	overflow-y: auto;
	overflow-x: hidden;
}

.user {
	background: #292b2f;

	grid-column: 1;
	grid-row: 3;

	display: grid;
	grid-template-columns: 1fr 3fr 2fr;
	grid-template-rows: 1fr;
	margin: 0 0 0 0;
	padding: 5px;

	align-items: center;
	color: white;
	font-size: 18px;
}

.message-list {
	grid-column: 2 / -1;
	grid-row: 2;

	padding: 10px 25px 25px 25px;
	padding-bottom: 70px;
	margin-bottom: 10px;

	overflow-y: auto;
}

.message-input {
	grid-column: 2 / -1;
	grid-row: 3;

	padding-top: 7px;
	padding-bottom: 7px;
	margin-right: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Commons */
.tooltip-box {
	position: relative;
	z-index: 99999;
}

.tooltip-box:hover .tooltip-message {
	opacity: 1;
}

.tooltip-box .tooltip-message {
	opacity: 0;
	position: absolute;
	top: -40px;

	background: black;
	color: rgb(218, 218, 218) !important;
	white-space: nowrap;
	border-radius: 7px;
	padding: 8px;

	font-size: 15px;
	font-weight: bold;

	pointer-events: none;
}
